html {
  height: 100%;
}

body {
  height: 100%;
  background-color: hsl(112, 50%, 25%);
  margin: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: auto 500px;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  height: 100%;
}

.canvas-wrapper {
  position: relative;
  background: hsla(112, 50%, 50%, 0.8);
  background: radial-gradient(
    hsla(112, 50%, 50%, 0.8),
    hsla(112, 40%, 40%, 0.9)
  );
}

.canvas-wrapper canvas {
  display: block;
}

.canvas-wrapper .status-text {
  position: absolute;
  font: "sans-serif";
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

.canvas-wrapper .score {
  font-style: italic;
  top: 1rem;
  right: 1rem;
}
.canvas-wrapper .hearts {
  bottom: 1rem;
  left: 1rem;
}

.canvas-wrapper .text-wrapper {
  z-index: -1;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.canvas-wrapper .text-wrapper h2 {
  font-family: "Lobster", cursive;
  margin: 0;
  /* font-style: italic; */
  font-size: 5rem;
}

.sidebar {
  background-color: hsl(112, 60%, 50%);
  background-size: cover;
  background-position: center;
  background-image: url(capsphotos/1.jpg);
}

.frame {
  border: hsl(112, 30%, 60%) 1rem solid;
  border-radius: 2rem;
}
.lost-screen {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 4rem;
  font-family: "Lobster", cursive;
  color: red;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}
.hidden {
  display: none;
}
.button {
  background-color: red;
  color: white;
  text-align: center;
  text-decoration: none;
  border: solid 5px white;
  border-radius: 15px;
}
.button:hover {
  background-color: darkred;
}
