html {
  height: 100%;
  min-height: 700px;
}

body {
  height: 100%;
  background-color: hsl(112, 50%, 25%);
  margin: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  height: 100%;
}

.canvas-wrapper {
  position: relative;
  background-color: lightgray;
  background: hsla(112, 50%, 50%, 0.8);
  background: radial-gradient(
    hsla(112, 50%, 50%, 0.8),
    hsla(112, 40%, 40%, 0.9)
  );
}

.canvas-wrapper canvas {
  display: block;
}

.canvas-wrapper .text-wrapper {
  z-index: -1;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.canvas-wrapper .text-wrapper h2 {
  font-family: "Lobster", cursive;
  margin: 0;
  /* font-style: italic; */
  font-size: 6rem;
}

.sidebar {
  background-color: hsl(112, 60%, 50%);
}

.frame {
  border: hsl(112, 30%, 60%) 1rem solid;
  border-radius: 2rem;
}
